@font-face {
    font-family: "Poppins-Black.ttf";
    src: url("../src/fonts/Poppins/Poppins-Black.ttf");
}

@font-face {
    font-family: "Poppins-Bold.ttf";
    src: url("../src/fonts/Poppins/Poppins-Bold.ttf");
}
